canvas {
    border: 1px solid #000;
    position: absolute;
    #canvas{
      z-index: 0;
    }
    #raytrace{
      z-index: 1;
    }
  }

  
  #player {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: blue;
  }